<ion-content class="ion-grid" [fullscreen]="true">
	<div class="main-h">
		<div class="con">
			<ion-icon class="backArr" name="arrow-back-outline"></ion-icon>
			<div class="mask">
				<img class="log" src="../../../../assets/icon/enmedio-direct-iso.svg" alt="" />
				<p>{{"Encuentra el público directo para tu pauta" }}.</p>
			</div>
		</div>

		<div class="form">
			<!-- <form #miFormulario="ngForm" (ngSubmit)="onSubmit(miFormulario)" > -->
				<form form (ngSubmit)="register()" >

<div class="fullName">
    <ion-item class="ion-no-padding">
      <ion-label position="floating" class="lbs">{{"nombre" }}
      </ion-label>
      <ion-input 
        placeholder="Primer Nombre" 
        name="firstName" 
        id="firstName" 
        type="text" 
        autocomplete="off"
        [(ngModel)]="firstName"
         required
        >
      </ion-input>
    </ion-item>

    <ion-item  class="ion-no-padding">
      <ion-label position="floating" class="lbs">{{"apellido" }}
      </ion-label>
      <ion-input 
        placeholder="Primer Apellido" 
        name="lastName" 
        id="lastName" 
        type="text" 
        autocomplete="off"
        [(ngModel)]="lastName"
         required
        >
      </ion-input>
    </ion-item>
</div>

				
<!-- INPUT PARA INGRESAR EMAIL -->
				<ion-item class="ion-no-padding">
					<ion-label position="floating" class="lbs">{{"correo electrónico" }}
					</ion-label>
					<ion-input 
            placeholder="usuario@dominio.com" 
						name="email" 
						id="email" 
						type="email" 
						autocomplete="off"
						[(ngModel)]="email"
						 required
						>
					</ion-input>
				</ion-item>
<!-- INPUT PARA INGRESAR CONTRASEÑA -->
				<ion-item class="ion-no-padding">
					<ion-label position="floating" class="lbs">{{"ingresa tu contraseña"}}</ion-label>
					<ion-input 
						[type]="!showPassword ? 'password' : 'text'" 
						id="repeatedPassword" 
						name="repeatedPassword"
						autocomplete="off"
						placeholder="*********"
						[(ngModel)]="repeatedPassword"
						required
						>
					</ion-input>
				</ion-item>
        <div  class="rememberPassword">
					<p>contraseña</p>
				</div>

        <ion-item class="ion-no-padding">
					<ion-label position="floating" class="lbs">{{"confirma tu contraseña"}}</ion-label>
					<ion-input 
						[type]="!showPassword ? 'password' : 'text'" 
						id="password" 
						name="password"
						autocomplete="off"
						placeholder="*********"
						[(ngModel)]="password"
						required
						>
					</ion-input>
				</ion-item>
        <div  class="rememberPassword">
					<p>contraseña</p>
				</div>

        <div class="check__content" >
          <ion-checkbox [(ngModel)]="showPassword" name="showPassword"></ion-checkbox>
          <ion-label class="check__password">mostrar contraseña</ion-label>
        </div>
<!-- ENVIAR FORMULARIO  [routerLink]="['/channels']" -->
				<button
				type="submit"
				(click)="register()"
				class="but-log alt" id="sign-up" 
				> 
					{{"registrarme" }}
				</button>

				<div>
					<p style="margin-bottom: 10px" class="terms">
						Al continuar estás aceptando los términos de uso y políticas de
						privacidad
					</p>
				</div>
			</form>
      
		</div>
	</div>
</ion-content>