.grid_content{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin-top: 30px;
    .grid_select{
        box-shadow: 10px 10px 29px -13px rgba(0, 0, 0, 0.443);
        border-radius: 8px;
        .activeMediaMenu{
            height: auto;
            margin-bottom: 25px;
            .media__info_filtersAndSchedule{
                height: 60px;
                font-size: 12px;
                display: grid;
                grid-template-columns: 115px auto;
                gap: 5px;
                .filters{
                    display: grid;
                    grid-template-columns: 20px auto;
                    gap:5px;
                    display: flex;
                    align-items: flex-start;
                    .filters__iconSize{
                        display: flex;
                        height: 65%;
                    }
                }
                .schedule{
                    
                    
                    display: flex;
                    flex-direction: row;
                    .clockSchedule{
                        margin-right: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        position: relative;
                        .clockSchedule__iconSize{
                            display: flex;
                            height: 65%;
                        }
                        img{
                            margin-right: 5px;
                        }
                        .hover-text {
                            position: absolute;
                            top: 0;
                            
                          
                            background-color: white;
                            /*Fondoblancoparaocultareltextopordefecto*/border-radius: 8px;
                            
                            /*Añadeunpocodeespacioalrededordeltextohover*/display: none;
                            /*Ocultareltextopordefecto*/z-index: 1;
                          
}
                          .default-text {
                            /* Estilos para el texto por defecto */
                            z-index: 2; /* Asegura que el texto por defecto esté por encima del fondo blanco */
                          }
                          .default-text:hover {
                            /* Estilos para el texto por defecto */
                          color: transparent;
                          }
                    }
                    .clockSchedule:hover .hover-text {
                        display: block; /* Mostrar el texto al hacer hover sobre el contenedor */
                        /* Estilos para el texto cuando está en hover */
                        /* Puedes personalizar los estilos según tus preferencias */
                       
                        font-weight: 600;
                        /* Otros estilos que desees aplicar */
                      }
                    .schedule__days{
                        display: flex;
                        flex-direction: row;
                        gap: 5px; 
                    }
                }
            }
            .mediaComtent__Img{
                display: grid;
                grid-template-columns: repeat(5, 1fr); 
                row-gap: 30px;
                .mediaComtent__Img__Item{
                    display: grid;
                    grid-template-rows: auto 15px;
                    width: 70px;
                    
                    p{
                        font-size:10px;
                        color: #8F929B;
                        margin: 0px;
                        padding: 0px;
                        text-align: center;
                    }
                    img{
                        object-fit: cover;
                        height: 60px;
                        border-radius: 8px;
                    }
                }
            }
        }
        .ref__item{
            display: grid;
            grid-template-columns: 90% 10%;
            width: 100%;
            border-radius: 8px;
            .ref__item__body{
                height: 95px;
                display: grid;
                grid-template-columns: 50% 60%;
                .content_img{
                    margin: 5px 5px ;
                    img{
                        height: 80px;
                        object-fit: cover;
                    }
                }   
                .ref__titles{
                    display: grid;
                    grid-template-rows: 25px 20px 20px 20px;
                    div p{
                        margin: 0px;
                        padding: 0px; 
                    }
                    .ref__info__Description{
                        height: 3px;
                        font-size: 12px;
                        display: grid;
                        grid-template-columns: 25px auto;
                        img{
                            height: 20px;
                            width: 17px;
                        }          
                    }
                    .ref__titles__title{
                        font-size: 18px !important;
                    }
                }
            }
            .image_and_display{
                display: grid;
                grid-template-rows: 50% 50%;
                align-items: center;
                justify-content: center;
                ion-progress-bar.custom-progress-bar {
                --bar-background: linear-gradient(
                    to right, 
                    transparent, 
                    transparent calc(50% - 4px),
                    #007bff,
                    transparent calc(50% + 4px),
                    transparent
                    );
                border-radius: 10px !important;
                }
                .log{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 22px;
                }
            }
        }
    }
}